<mat-toolbar>
    <mat-toolbar-row>

        <div class="row">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="row">
            <img src="assets/icon/icons8-google-keep-48.png">
        </div>
        <div>
            <h2><span>Fundoo</span></h2>
        </div>

        <div class="searchbar">
            <div class="searchIcon">
                <mat-icon matSuffix>search</mat-icon>
            </div>
            <div>
                <input class="input" matInput type="searchbar" placeholder="  Search" style="outline:none;">
            </div>
        </div>
        <div class="pl">
            <mat-icon matSuffix>refresh</mat-icon>
        </div>
        <div class="pl">
            <mat-icon matSuffix>listview</mat-icon>
        </div>
        <div class="pl">
            <mat-icon matSuffix>settings</mat-icon>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<!--  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<br>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="side">
        
            <div class="inline">
               
                <button  style="width: 180px;border-radius: 10px 10px 10px 10px;" (click)="showFiller = !showFiller" mat-raised-button> Notes </button> <br> <br>
              
              
                <button  style="width: 180px;border-radius: 10px 10px 10px 10px;" (click)="showFiller = !showFiller" mat-raised-button> Reminders </button> <br> <br>
        
            </div>
            <div class="inline">
                <br>
         <span><h5>LABELS</h5></span>
                <br>
                <button style="width: 180px;border-radius: 10px 10px 10px 10px;" (click)="showFiller = !showFiller" mat-raised-button> Edit labels </button> <br> <br>
            </div>
            <br>
            <button style="width: 180px;border-radius: 10px 10px 10px 10px;" (click)="showFiller = !showFiller" mat-raised-button> Archive </button> <br> <br>
            <button style="width: 180px;border-radius: 10px 10px 10px 10px;" (click)="showFiller = !showFiller" mat-raised-button> Trash </button>
       
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
