

.row {
    justify-content: space-evenly;
  display: flex;
  min-width: 50px;
}
.rows {
  display: flex;
  min-width: 50px;
}
.pl {
    padding-left: 50px;
    text-align: center;
}
.border {
    text-align: center;
    border: 150px;
}
.searchbar{
    display: flex;
    align-items: center;
    border: 1px whitesmoke;
    background-color: #fff;
    border-radius: 7px;
    height: 44px;
    width: 35em;
    padding-left: 50px;

}
.input{
    width: 47em;
    padding: 10px;
    border-style: none;
}
.searchIcon{
    display: flex;
    align-items: center;
}

.notes{
    display: flex;
   
}


