.des {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px whitesmoke;
    background-color: #fff;
    border-radius: 7px;
    height: 44px;
    width: 35em;
    padding-left: 50px;
}