<mat-card class="card">
    <h1>
        <span class="blue">F</span>
        <span class="red">U</span>
        <span class="purple">N</span>
        <span class="blue">D</span>
        <span class="green">O</span>
        <span class="red">O</span>
    </h1>
<h3 style="text-align: center; color: cadetblue;"><span>Reset your Password</span></h3>
    <form class="example-form">

        <mat-form-field class="name-width" appearance="outline" class="name-width-small">
            <mat-label class="labelColor">Password</mat-label>
            <input matInput [formControl]="password" placeholder="" type="password" required>
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Minimum <strong>length</strong> is 8
            </mat-error>
        </mat-form-field>
<br>

<mat-form-field class="name-width" appearance="outline" class="name-width-small">
    <mat-label class="labelColor">Confrim password</mat-label>
    <input matInput [formControl]="confirmPassword" placeholder="" type="password" required>
    <mat-error *ngIf="confirmPassword.hasError('required')">
        Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="confirmPassword.hasError('minlength')">
        Minimum <strong>length</strong> is 8
    </mat-error>
    <mat-error *ngIf="">
        PASSWORD NOT MATCHED
    </mat-error>
</mat-form-field>
    </form>
    <br>
    
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="OnResetPasswordForm()">Next</button>
    </div>